<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ACME</title>

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="app/css/app.css">

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-route/angular-route.min.js"></script>

    <script src="app/app.js"></script>
    <script src="app/components/ACME/services/navBarService.js"></script>
    <script src="app/components/ACME/create/create.directive.js"></script>
    <script src="app/components/ACME/edit/edit.directive.js"></script>
    <script src="app/components/ACME/search/search.directive.js"></script>
    <script src="app/components/ACME/services/dataService.js"></script>
    <script src="app/common/directives/item/item.directive.js"></script>
    <script src="app/common/filters/usd.filter.js"></script>
    <script src="app/common/filters/capitalize.filter.js"></script>
    <script src="app/components/ACME/factories/tags.factory.js"></script>

</head>
<body ng-app="app" ng-controller="appController">
    <div class="app-container">
        <div class="nav-bar-container">
            <ul class="col-xs-12">
                <li class="col-xs-6"><a ng-class="{'nav-bar-item-activated' : navBarService.navBarItemActiveStatus[0]}" ng-click="navBarService.setActive(0)" href="#/search">Search</a></li>
                <li class="col-xs-6"><a ng-class="{'nav-bar-item-activated' : navBarService.navBarItemActiveStatus[1]}" ng-click="navBarService.setActive(1)" href="#/create">Create</a></li>
            </ul>
        </div>
        <ng-view></ng-view>
    </div>
</body>
</html>