<search>
    <div>
        <div>
            <label>
                Filter:
                <input ng-keyup="search.filterItems()" ng-model="search.filterKeyWord">
            </label>

            <button class="create-button btn-success">Create</button>

            <div class="tags-container">
                <a ng-repeat="tag in search.tags">{{tag}}</a>
            </div>

            <div>
                <item ng-repeat="item in search.items" item-data="item"></item>
            </div>
        </div>
    </div>
</search>