<search>
    <div class="page-container">
        <label>
            Filter:
            <input ng-keyup="search.filterByTitle()" ng-model="search.filterKeyWord">
        </label>

        <div class="tags-container">
            Categories:
            <a ng-class="{'selected': search.tagActiveStatus[0]}"
               ng-click="search.clearTagFilter()">All</a>

            <a ng-class="{'selected': search.tagActiveStatus[$index + 1]}"
               ng-click="search.filterByTag(tag, $index + 1)"
               ng-repeat="tag in search.tags">{{tag}}</a>
        </div>

        <div>
            <item ng-repeat="item in search.items" item-data="item"></item>
            <div ng-if="!search.items.length">
                <h1>Can't find what you want?</h1>
                <button class="btn-lg btn-success" ng-click="search.navigationService.goToCreatePage()">Create One!</button>
            </div>
        </div>
    </div>
</search>