search {
  .create-button {
    margin-left: 10px;
  }

  .tags-container {
    margin-bottom: 10px;
    a {
      display: inline-block;
      margin-right: 5px;
      cursor: pointer;
      border: 1px solid deepskyblue;
      border-radius: 8%;
      padding: 2px 3px;
      text-decoration: none;
      color: black;

      &:hover {
        background-color: deepskyblue;
      }

      &.selected {
        background-color: deepskyblue;
      }
    }
  }
}